<% provide(:title, "About") %>

    <h1>About</h1>
    <p>
      BU Engineering Senior Design 2016.
    </p>


[#<Nokogiri::XML::Element:0x3fbfad9a47d0 name="Key" namespace=#<Nokogiri::XML::Namespace:0x3fbfae66260c href="http://s3.amazonaws.com/doc/2006-03-01/"> children=[#<Nokogiri::XML::Text:0x3fbfad9a4424 "HappyFace.jpg">]>,
#<Nokogiri::XML::Element:0x3fbfaf9cc878 name="Key" namespace=#<Nokogiri::XML::Namespace:0x3fbfae66260c href="http://s3.amazonaws.com/doc/2006-03-01/"> children=[#<Nokogiri::XML::Text:0x3fbfaf9cc4cc "Image_1.jpg">]>]