<% provide(:title, "About") %>

    <h1>About</h1>
    <p>
      The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> is a
      <a href="http://www.railstutorial.org/book">book</a> and
      <a href="http://screencasts.railstutorial.org/">screencast series</a>
      to teach web development with
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      This is the sample application for the tutorial.
    </p>


[#<Nokogiri::XML::Element:0x3fbfad9a47d0 name="Key" namespace=#<Nokogiri::XML::Namespace:0x3fbfae66260c href="http://s3.amazonaws.com/doc/2006-03-01/"> children=[#<Nokogiri::XML::Text:0x3fbfad9a4424 "HappyFace.jpg">]>,
#<Nokogiri::XML::Element:0x3fbfaf9cc878 name="Key" namespace=#<Nokogiri::XML::Namespace:0x3fbfae66260c href="http://s3.amazonaws.com/doc/2006-03-01/"> children=[#<Nokogiri::XML::Text:0x3fbfaf9cc4cc "Image_1.jpg">]>]