

<div class="center jumbotron">
  <h1>Welcome to the Thor</h1>

  <h2>
    Here are your latest images:<br>

    <% @keys.each do |image| %>
	<img src="<%=@rootURL+image.text%>">
	<% end %>

  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  
  

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>