

<div class="center jumbotron">
  <h1>Welcome to the Thor</h1>

  <h2>
    Here are your latest images:<br>


  </h2>


  
  

</div>
<% @keys.each do |image| %>
	<div class="img">
	<a target="_blank" href="<%=@rootURL+image.text%>">
	<img src="<%=@rootURL+image.text%>">
	</a>
	  <div class="desc"><%=image.text%></div>
	</div>

<% end %>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>